<h3><%= link_to(@character.game.name, game_path(@character.game)) %> > <%= @character.name %></h3>

<ul>
<% @character.matches.each do |match| %>
    <li>
        <a href='<%= match.youtube_url %>'>
            <div><%= match.title %></div>
            <div><%= image_tag(match.youtube_thumb) %></div>
        </a>
    </li>
<% end %>
</ul>
